---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section id="one">
  <div class="container">
    <h1>Hello</h1>
    <p class="lead">Welcome</p>
  </div>
</section>
<section id="two">
  <div class="container">
    <h4>Recent blog posts</h4>
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
    <p>
      More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.
    </p>
  </div>
</section>
